@import "tailwindcss";

@theme{
  --color-bg-black: #0A0A0A;  /*Fondo*/
  --color-card: #151515; /*card*/
  --color-primary: #FFD100;	/*Primario*/
  --color-secondary: #FFC300;	/*Secundario*/
  --color-text-primary: #F5F5F5;  /*	Texto*/
  --color-text-secondary: #7A7A7A;  /*	Texto secundario*/
}

.shadow-card{
  box-shadow: 
  0px 0px 10px #ffd100,
  0px 0px 20px #ffc300,
  0px 0px 30px #ffd100
  ;
}