<section class="py-3">
  <h1 class="text-primary uppercase font-mono text-2xl font-extrabold tracking-wider">
    Simple Omelette Recipe
  </h1>
  <div class="w-full h-1 bg-gradient-to-r from-primary via-transparent via-60% to-secondary rounded-lg mb-4 mt-0.5"/>

  <p class="text-text-primary text-[14px] leading-5 font-serif">
    An easy quick dish, perfect for any meal. This classic omelette combines beaten eggs cooked to perfection, optionally filled with your choice of cheese, vegetables, or meats.
  </p>
</section>
